//! by Laurent Van Reeth aka Webmaitr
@use "global" as gl;

@keyframes branch-shake {
  0% {transform: rotate(0deg)}
  50% {transform: rotate(1deg)}
  100% {transform: rotate(0deg);}
}
@keyframes apple-fall {
  0% {
    transform: translateY(0);
  }
  10% {  
    transform: translateY(0);
  }
  40% {
    transform: rotate(-40deg);
  }
  70% {
    transform: rotate(40deg);
  }
  100% {
    transform: translateY(90%);
    color: gl.$agropunk-red;
  }
}

h1 {
  font-family: gl.$font-prose;
  font-size: 1.6rem;
  font-weight: 700;
}

header {
  hgroup {
    display: flex;
    height: 45px;
    padding: 0 1rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.4rem;
    background: linear-gradient(gl.$dark-green, gl.$solar-yellow, #022601);
    margin-bottom: 50px;
    figcaption {
      max-width: 60%;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      color: white;
      padding-right: 10vw;
    }
    & img {
        width: 30vw;
        max-width: 150px;
    }
  }
  .tagline {
    display: grid;
    grid-template-columns: 1fr 5fr;
    h2 {
      grid-column-start: 1;
      grid-column-end: 3;
      font-family: Permanent Marker;
      font-size: 18.7vw;
      letter-spacing: 0.3rem;
      color: gl.$dark-green;
      transform: scaleY(2);
      filter: drop-shadow(1px -1px gl.$agropunk-black);
    }
    p:first-of-type {
      grid-column-start: 1;
      grid-column-end: 3;
      font-size: 12.6vw;
      font-weight: 700;
      color: gl.$light-green;
      transform: scaleY(1.5);
      position: relative;
      z-index: 1;
    }
    p:nth-of-type(2) {
      font-family: gl.$font-title;
      font-size: 30vw;
      transform: scaleX(0.8);
      color: gl.$agropunk-black;
      line-height: 6.5rem;
      position: relative;
      left: -10px;
      z-index: 2;
    }
    p:last-of-type {
      display: inline-block;
      font-size: 12vw;
      font-weight: 400;
      line-height: 8vw;
      color: white;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-left: -10px;
    }
  }
}

main {
  background-color: gl.$background-green;
}

.central-nav-tree {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, 10vh);
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 10px;
  background: radial-gradient(farthest-corner at 95% 0, gl.$solar-yellow -30%, gl.$pale-green 5%, gl.$medium-green 20%, gl.$dark-green 90%, gl.$agropunk-black 120%);
  a {
    border-left: 8px solid gl.$agropunk-black;
    padding-bottom: 20px;
    hgroup{
      margin-bottom: 20px;
      h3 {
        font-family: Merriweather;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        background-color: gl.$agropunk-red;
        width: min-content;
        margin-left: -10px;
        margin-top: -20px;
        padding: 3px 5px 2px 5px;
        position: relative;
        z-index: 4;
      }
      h3 + p {
        color: white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.05rem;
        border-left: 1px solid gl.$agropunk-red;
        border-top: 1px solid gl.$solar-yellow;
        margin-top: -10px;
        padding: 10px 20px 10px 5px;
        background: radial-gradient(closest-corner at 75% 40%, gl.$light-green 5%, gl.$medium-green 200%, gl.$dark-green);
        border-bottom-right-radius: 100px;
        width: max-content;
        position: absolute;
        z-index: 3;
      }
    }
    & + i {
      position: relative;
      top: 40px;
      left: 15px;
      z-index: 1;
      font-size: 2rem;
      color: gl.$agropunk-black;
    }
  }

  a:hover {
    animation: 300ms branch-shake;
    h3 {
      background-color: gl.$agropunk-yellow;
    }
    & + i {
      transform-origin: top left;
      animation: 1000ms forwards apple-fall;
    }
  }
  a[href*="association"] {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    & + i {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }
  }
  a[href*="network"] {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    & + i {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
  }
  a[href*="school"] {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    & + i {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
  }
  
}

.middle-banner {
  display: none;
  height: 5.4rem;
  background: linear-gradient(gl.$dark-green, gl.$solar-yellow, #022601);
  margin-bottom: 80px;
  img {
    width: 45%;
    margin-top: -10px;
    margin-left: 5px;
    position: relative;
    z-index: 10;
  }
}

article {
  background-color: white;
  margin: 10px;
  padding: 5px;
  header {
    background-color: gl.$background-green;
    h2 {
      font-family: Merriweather;
      font-size: 1.8rem;
      padding: 5px;
      margin-bottom: 10px;
    }
  }  
  p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 5px 5px;
    color: gl.$agropunk-black;
    text-indent: 1rem;
  }
  .second-nav ul {
    display : flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
    li {
      flex: 1 1 45%;
      text-align: center;
      background-color: gl.$background-green;
      border-radius: 10px;
      a {
        display: inline-block;
        font-size: 1.5rem;
        height: 5rem;
        align-content: center;
      }
    &:hover,
    &:focus {
        background-color: gl.$medium-green;
        a {
          color: white;
        }
      }
    }
  }
}
