:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: Lato, sans-serif;
}
p strong {
  font-weight: 700;
}

@keyframes branch-shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
h1 {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

header hgroup {
  display: flex;
  height: 45px;
  padding: 0 1rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
header .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.4rem;
  background: linear-gradient(#078c03, #f2cb05, #022601);
  margin-bottom: 50px;
}
header .banner figcaption {
  max-width: 60%;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: white;
  padding-right: 10vw;
}
header .banner img {
  width: 30vw;
  max-width: 150px;
}

.first-container {
  display: flex;
  flex-direction: column;
}

.tagline {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  margin: 0 auto 30px auto;
}
.tagline h2 {
  font-family: Permanent Marker;
  font-size: min(18.7vw, 8.6rem);
  letter-spacing: 0.3rem;
  padding: 0 0.5rem;
  color: #078c03;
  transform: scaleY(2);
  filter: drop-shadow(1px -1px #0d0d0d);
}
.tagline p:first-of-type {
  font-size: min(12.6vw, 5.8rem);
  font-weight: 700;
  color: #c4ef56;
  transform: scaleY(1.5);
  position: relative;
  z-index: 1;
}
.tagline p:last-of-type {
  display: none;
}
.tagline .esperluette {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.tagline .esperluette p:first-of-type {
  width: 15%;
  font-family: Merriweather, serif;
  font-size: min(30vw, 13.8rem);
  transform: scaleX(0.8);
  color: #0d0d0d;
  line-height: 6.5rem;
  position: relative;
  z-index: 2;
}
.tagline .esperluette p:last-of-type {
  width: 75%;
  display: inline-block;
  font-size: min(12vw, 5.52rem);
  font-weight: 400;
  line-height: min(8vw, 3.7rem);
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: -10px;
}

.central-nav-tree {
  padding-left: 12.5vw;
  max-width: 440px;
  margin-top: 5vw;
  background-color: white;
}
.central-nav-tree ul {
  list-style-type: none;
  position: relative;
  background: linear-gradient(45deg, #57c753, #d2f2c9);
}
.central-nav-tree ul li {
  border-left: 6px solid #0d0d0d;
  width: 100%;
  max-width: 350px;
}
.central-nav-tree ul li:first-of-type {
  height: 100%;
  min-height: 50vh;
  position: relative;
  top: 1%;
  z-index: 1;
}
.central-nav-tree ul li:nth-of-type(2) {
  margin-left: 10vw;
  position: absolute;
  top: 30%;
  z-index: 2;
  height: 35vh;
}
.central-nav-tree ul li:last-of-type {
  margin-left: 20vw;
  position: absolute;
  top: 60%;
  z-index: 3;
  height: 20vh;
}
.central-nav-tree ul li hgroup {
  background: radial-gradient(closest-corner at 75% 40%, #c4ef56 5%, #57c753 200%, #078c03);
  border-radius: 0 0 100px 0;
  width: 70%;
  padding-bottom: 10px;
  filter: drop-shadow(4px 4px 4px #078c03);
}
.central-nav-tree ul li hgroup h3 {
  display: inline-block;
  padding: 5px 10px 3px 10px;
  font-family: Merriweather;
  font-size: 2rem;
  font-weight: 700;
  background-color: #f20505;
  color: white;
  margin-left: -10px;
  margin-top: -20px;
  padding: 3px 5px 2px 5px;
}
.central-nav-tree ul li hgroup h3 + p {
  color: white;
  font-size: min(5vw, 21px);
  font-weight: 700;
  letter-spacing: 0.05rem;
  border-left: 2px solid white;
  border-top: 2px solid white;
  margin-left: 5px;
  margin-top: -10px;
  padding: 10px 10px 10px 5px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.central-nav-tree ul li .fa-solid {
  font-size: 3rem;
  margin-left: -1.2rem;
  transform-box: view-box;
  transition: transform 500ms;
}
.central-nav-tree ul li a:hover, .central-nav-tree ul li a:focus {
  animation: branch-shake 400ms;
}
.central-nav-tree ul li a:hover h3, .central-nav-tree ul li a:focus h3 {
  background-color: #f5e836;
}
.central-nav-tree ul li a:hover + .fa-solid, .central-nav-tree ul li a:focus + .fa-solid {
  transform: translateY(200%);
}

.middle-banner {
  height: 5.4rem;
  background: linear-gradient(#078c03, #f2cb05, #022601);
  margin-bottom: 12vw;
}
.middle-banner img {
  width: 45%;
  max-width: 190px;
  top: -10px;
  left: 5px;
  position: relative;
  z-index: 4;
}

main {
  background-color: rgba(210, 242, 201, 0.5058823529);
  position: absolute;
}

article {
  background-color: white;
  margin: 10px;
  padding: 5px;
}
article header {
  background-color: rgba(210, 242, 201, 0.5058823529);
}
article header h2 {
  font-family: Merriweather;
  font-size: 1.8rem;
  padding: 5px;
  margin-bottom: 10px;
}
article p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
  padding: 5px 5px;
  color: #0d0d0d;
  text-indent: 1rem;
}
article .second-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
}
article .second-nav ul li {
  flex: 1 1 45%;
  text-align: center;
  background-color: rgba(210, 242, 201, 0.5058823529);
  border-radius: 10px;
}
article .second-nav ul li a {
  display: inline-block;
  font-size: 1.5rem;
  height: 5rem;
  align-content: center;
}
article .second-nav ul li:hover, article .second-nav ul li:focus {
  background-color: #57c753;
}
article .second-nav ul li:hover a, article .second-nav ul li:focus a {
  color: white;
}

@media screen and (min-width: 640px) {
  header hgroup {
    height: 65px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10vw;
    padding: 1rem;
  }
  header hgroup h1 {
    font-size: 2rem;
  }
  header .banner {
    justify-content: flex-start;
  }
  header .banner figcaption {
    padding: 0 5vw;
  }
  .first-container {
    flex-direction: row-reverse;
    max-width: 840px;
    margin: -30px auto 0 auto;
  }
  .first-container .tagline {
    flex: 1 0 48%;
    align-content: first baseline;
  }
  .first-container .tagline h2 {
    font-size: min(9.35vw, 7.85rem);
    flex: 1 0 auto;
  }
  .first-container .tagline > p:first-of-type {
    font-size: min(6.3vw, 5.3rem);
    flex: 1 0 auto;
  }
  .first-container .tagline > p:last-of-type {
    display: block;
    background: radial-gradient(circle at left, white 80%, #f5e836, #f20505, #0d0d0d);
    border-top-right-radius: 30px;
    height: 50%;
    font-size: 2rem;
    padding: 20px 15%;
    margin: 0 auto;
    align-content: center;
  }
  .first-container .tagline .esperluette {
    padding-bottom: 10px;
  }
  .first-container .tagline .esperluette > p:first-of-type {
    font-size: min(15vw, 12.6rem);
    flex: 1 0 15%;
  }
  .first-container .tagline .esperluette > p:last-of-type {
    font-size: min(6vw, 5rem);
    line-height: min(4vw, 3.36rem);
    flex: 1 0 75%;
  }
  .first-container .central-nav-tree {
    padding: 0 10px;
    flex: 1 0 48%;
    max-width: 420px;
  }
  .first-container .central-nav-tree ul li hgroup h3 + p {
    font-size: min(2.5vw, 21px);
  }
  .middle-banner {
    background: linear-gradient(#57c753, #f2cb05);
    margin-left: 10px;
    margin-right: 30px;
    height: 0.5rem;
  }
  .middle-banner img {
    left: 55vw;
    top: -5vw;
  }
}/*# sourceMappingURL=homepage.css.map */