/*by Laurent Van Reeth aka Webmaitr*/

:root {
    --dark-green: #078c03;
    --medium-green: #57c753;
    --pale-green: #d2f2c9;
    --light-green: #c4ef56;
    --agropunk-yellow: #f5e836;
    --solar-yellow: #f2cb05;
    --agropunk-red: #f20505;
    --agropunk-black: #0d0d0d;
    font-size: calc(100vw / 30);
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top-header {
    display: flex;
    height: 45px;
    padding: 0 1rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.top-title {
    font-size: 1.2rem;
    color: var(--agropunk-black);
}

.banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    height: 5.4rem;
    background: linear-gradient(var(--dark-green), var(--solar-yellow), #022601);
    margin-bottom: 50px;
}

.banner h2 {
    flex: 1 1 75%;
    font-size: 1.5rem;
    color: white;
    padding-left: 20%;
    padding-right: 5%;
}

.banner p {
    flex: 1 1 25%;
}

.banner img {
    max-width: 150%;
}

.catchword {
    padding: 0 5px;
    gap: 1px;
}

.catchword img {
    width: 100%;
}

.catchword figcaption {
    font-size: 3.75rem;
    font-family: Lato;
    font-weight: 700;
    transform: scaleY(2);
    color: var(--light-green);
}

.tagline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline p:first-of-type {
    font-family: Merriweather;
    font-size: 6rem;
    transform: scale(0.9, 1.5);
}

.tagline p:last-of-type {
    padding-right: 5px;
}

.tagline strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 4rem;
    line-height: 3rem;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main {
    margin-left: 30px;
    background: linear-gradient(45deg, var(--medium-green), var(--pale-green));
}
.maintree {
    margin-left: 30px;
    margin-top: 12px;
}

.maintree ul {
    list-style-type: none;
    padding-top: 20px;
    position: relative;
}

.maintree li {
    border-left: 6px solid var(--agropunk-black);
    width: 100%;
}

.maintree ul li:first-of-type {
    height: 50vh;
    position: relative;
    top: 1%;
    z-index: 1;
}
.maintree ul li:nth-of-type(2) {
    margin-left: 30px;
    position: absolute;
    top: 36%;
    z-index: 2;
    height: 64%;
}

.maintree ul li:last-of-type {
    margin-left: 60px;
    position: absolute;
    top: 67%;
    z-index: 3;
    height: 33%;
}

.branch-tree {
    background: radial-gradient(closest-corner at 75% 40%, var(--light-green) 5%, var(--medium-green) 200%, var(--dark-green));
    border-radius: 0 0 100px 0;
    width: 70%;
    padding-bottom: 10px;
    margin-bottom: 40px;
    filter: drop-shadow(4px 4px 4px var(--dark-green))
}

.maintree-btn {
    display: inline-block;
    padding: 5px 10px 3px 10px;
    font-family: Merriweather;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--agropunk-red);
    color: white;
    margin-left: -10px;
    margin-top: -20px;
    padding: 3px 5px 2px 5px;
}

.maintree-btn + p {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    border-left: 2px solid white;
    border-top: 2px solid white;
    margin-left: 5px;
    margin-top: -10px;
    padding: 10px 20px 10px 5px;;
    width: max-content;
    height: max-content;
}